/* Global theme variables */
:root {
  --main-bg: #fafafa;
  --card-bg: #ffffff;
  --light-bg: #e7f0fc;
  --dark-bg: #30323e;
  --mask-bg: rgba(0, 0, 0, 0.5);
  --bg1: #172d72;
  --bg2: #6e77a3;

  --divider-color: #e7f0fc;
  --border-color: #c9d4e3;
  --highlight-color: #b8c4d6;
  --disabled-color: #9fa8b9;
  --text-color: #707070;
  --active-color: #5d6d86;

  --primary-color: #2e2fff;
  --secondary-color: #10a6fa;
  --hover-color: #3351ff;
  --success-color: #a9d359;
  --negative-color: #ff4f5e;
  --tag-c1: #35ced5;
  --tag-c2: #7d3f98;
  --tag-c3: #f8c200;
  --tag-c4: #f15a24;

  --fs1: 4rem;
  --fs2: 3rem;
  --fs3: 2rem;
  --fs4: 1.5rem;
  --fs5: 1.25rem;
  --fs6: 1.12rem;
  --fs7: 1rem;
  --fs8: 0.875rem;

  --content-padding: 2rem;
  --content-margin: 2rem;
  --vertical-margin: 2rem;
  --horizontal-margin: 2rem;
  --vertical-padding: 2rem;
  --horizontal-padding: 2rem;

  --bar-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  --card-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --button-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  --border-radius: 4px;

  --container-max-width: 84rem;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, -apple-system, 'Microsoft Yahei',
    'PingFangSC-Regular', 'Source Han Sans CN';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1920px) {
  body,
  html {
    font-size: 18px;
  }
}
